<div class="row">
    <div class="col-sm">
        <div class="text-center my-3">
            <p>Our contacts</p>
        </div>
    </div>
    <div class="col-sm">
        <div class="text-center my-3">
            <p>About</p>
        </div>
    </div>
    <div class="col-sm">
        <div class="text-center my-3">
            <p>Site map</p>
        </div>
    </div>
</div>

<div class="row basement">
    <div class="col-sm">
        <div class="text-center my-3">
            <p class="">Copyright &copy; 2021 User Polls 2</p>
        </div>
    </div>
</div>