{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Completed polls
{% endblock %}

{% block page_name %}{{ object.name }}{% endblock page_name %}

{% block content %}

    <div class="row">
        <div class="col-sm">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h2 class="text-center my-3">
                                Completed polls:
                            </h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% if object_list %}
                        {% for object in object_list %}
                            <tr>
                                <td>
                                    <div class="mx-auto my-auto">
                                        <div class="mx-auto my-auto"></div>
                                        <div class="text-center my-auto">
                                            <a href="{% url 'poll_results' pk=object.poll_id %}">{{ object.poll }}</a>
                                        </div>
                                        <div class="mx-auto my-auto"></div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>
                                <div class="hstack gap-3">
                                    <div class="mx-auto my-auto"></div>
                                    <div class="mx-auto my-auto">You have no completed polls</div>
                                    <div class="mx-auto my-auto"></div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="text-center my-3">
                <a href="">
                    <button type="button" class="btn btn-outline-secondary">Back to ..</button>
                </a>
            </div>
        </div>
    </div>

{% endblock %}