{% extends 'user_polls_2_app/base.html' %}

{% load static %}

{% block title %}
  Delete poll
{% endblock %}

{% block page_name %}Delete poll {{ object.name }}{% endblock page_name %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="text-center my-3 mx-5">
            <div class="">
                <form action="" method="post">
                    {% csrf_token %}
                    <p>
                        Do you really want to delete poll {{ object.name }}?
                    </p>
                    <button type="submit">Yes</button>
                    <a href="{% url 'poll_update' object.id %}">
                        <button type="button">No</button>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}