{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Polls list
{% endblock %}

{% block page_name %}Polls list{% endblock page_name %}

{% block content %}

    <div class="vstack col-sm mx-auto">
        {% if object_list %}
            {% for object in object_list %}
                <div class="row">
                    <div class="col-sm">
                        <div class="text-center my-3">
                            <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <div class="col-sm">
                    <div class="text-center my-3">
                        <h3>No Polls</h3>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col">
            <div class="text-center my-3">
                <a href="{% url 'poll_create' %}">
                    <button type="button" class="btn btn-outline-secondary">Create new Poll</button>
                </a>
            </div>
        </div>
    </div>

{% endblock %}