{% extends 'user_polls_2_app/base.html' %}

{% load static %}

{% block title %}
  Question Update
{% endblock %}

{% block page_name %}Create question for poll "{{ question_object.text }}"{% endblock page_name %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="text-center my-3 mx-5">
            <div class="">

                <form action="" method="post" >

                    {% csrf_token %}

                    <div class="row">
                        <div class="col">
                            <div class="text-center my-3">
                                {{ question_form.as_p }}
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col">
                            <div class="text-center my-3">
                                <h4>Edit answer options:</h4>
                            </div>
                        </div>
                    </div>
                    <div>

                        {{ answer_formset.management_form }}
                        {% for answer_form in answer_formset %}
                            {{ answer_form.id }}
                            <div class="row">
                                <div class="col">
                                    <div class="text-center my-3">
                                        <div class="answer-formset">
                                            {{ answer_form.text }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <button type="reset">Reset</button>
                    <button type="submit">Update</button>
                </form>

                <div class="row">
                    <div class="col">
                        <div class="text-center my-3">
                            <a href="{% url 'question_detail' pk=pk q_id=q_id %}">
                                <button type="button">Back to question overview</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include formset plugin - including jQuery dependency -->

<!--&lt;!&ndash;-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<!--&ndash;&gt;-->

<script src="{% static 'base_dir_static/js/modified_jquery.formset.js' %}"></script>

<script>
    $('.answer-formset').formset({
        prefix: '{{ answer_formset.prefix }}',
        addText: '+',
        deleteText: '-'
    });
</script>

{% endblock %}