{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
   Create question
{% endblock %}

{% block page_name %}Create question for "{{ poll_object.name }}"{% endblock page_name %}

{% block content %}

    <div class="row">
        <div class="col">
            <form action="" method="post">
                {% csrf_token %}
                <div class="text-center my-3">
                    {{ question_form | crispy }}
                </div>
                <br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">
                                <h2 class="text-center my-3">
                                    Add answer options:
                                </h2>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ answer_formset.management_form }}
                        {% for answer_form in answer_formset %}
                            {{ answer_form.id }}
                            <tr class="answer-formset">
                                <td>
                                    <div class="mx-auto my-auto">
                                        <div class="mx-auto my-auto"></div>
                                        <div class="text-center my-auto">
                                            {# answer_form.text | as_crispy_field #}
                                            {{ answer_form.text }}
                                        </div>
                                        <div class="mx-auto my-auto"></div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col">
                        <div class="text-center my-auto">
                            <button type="reset" class="btn btn-outline-secondary">Reset</button>
                            <button type="submit" class="btn btn-outline-secondary">Create</button>
                        </div>
                    </div>
                </div>
            </form>
       </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-center my-3">
                <a href="{% url 'poll_update' pk=pk %}">
                    <button type="button" class="btn btn-outline-secondary">Back to edit poll</button>
                </a>
            </div>
        </div>
    </div>

    <!-- Include formset plugin - including jQuery dependency -->

    <!--&lt;!&ndash;-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <!--&ndash;&gt;-->

    <script src="{% static 'base_dir_static/js/modified_jquery.formset.js' %}"></script>

    <script>
        $('.answer-formset').formset({
            prefix: '{{ answer_formset.prefix }}',
            addText: '+',
            deleteText: '-'
        });
    </script>

{% endblock %}