{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Password change done
{% endblock %}

{% block page_name %}Password change done{% endblock page_name %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="text-center my-3">
            <h2 class="text-center my-3">
                You have successfully changed your password
            </h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="text-center my-3">
            <a href="{% url 'home' %}">
                <button type="button">Back to home page</button>
            </a>
        </div>
    </div>
</div>

{% endblock %}